html {
    background: url(./images/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.App {
    text-align: center;
}

#input-field {
    font-weight: 600 !important;
    color: rgb(0, 188, 212) !important;
    font-size: 30px !important;
    overflow: hidden !important;
    text-shadow: 0 0 4px black !important;
}

.welcome-header {
    font-size: 50px;
    color: lightgray;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px black;
}

.App-header {
    max-height: 150px;
    color: white;
}

.App-intro {
    margin-top: 50px;
    font-weight: 600;
    font-size: 30px;
    color: lightgray;
    letter-spacing: 1px;
    text-shadow: 0 0 5px black;
}

/*@keyframes App-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/
